body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: gray;
    font-weight: 600;
    ;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#three-card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    padding: 20px 10px;
}

#main-greet {
    text-align: center;
    border: 1px solid black;
}

.card {
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: orangered;
    text-align: center;
    display: inline-block;
    width: 10rem;
    height: auto;
    /* Adjust width to fit three cards in a row */
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}


// // X-Small //
@media screen and (max-width:475px) {
    .container {
        max-width: 100%;
    }
}

// // Small //
@media screen and (max-width:640px) {
    .container {
        max-width: 475px;
    }
}

// Medium //
@media screen and (max-width:768px) {
    .container {
        max-width: 640px;
    }
}

// Large //
@media screen and (max-width:1024px) {
    .container {
        max-width: 768px;
    }
}

// X-Large //
@media screen and (max-width:1280px) {
    .container {
        max-width: 1024px;
    }
}

#card-2 {
    background-color: red;
}

#card-3 {
    background-color: lightblue;
}